{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}L'Esprit de la Fôret{% endblock %}</title>


    {# On charge le CSS de bootstrap depuis le site directement #}
  {% block style %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/maps.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  {% endblock %}


</head>

<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
            <img alt="Brand" class="brand-img">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bien-être / Santé <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Santé</a></li>
                <li><a href="#">Alimentation</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Maison & Bricolage</a></li>
                <li><a href="#">Jardinage</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Mode et vêtements</a></li>
              </ul>
            </li>
            <li><a href="#">Recettes <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Boutique</a></li>

          </ul>
          
          {#}
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Rechercher">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        #}

    {#       <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul> #}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.NAVBAR container-fluid -->
    </nav>


  <!--Google Maps DOM element-->
<div class="container">
  <div class="row">
    <div id="map" class="col-md-12">
      {% block map %}{% endblock %}
    </div>
  </div>

  <div class="row">
    <div id="menu" class="col-md-2">
      <h3>Les annonces</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('ml_platform_home') }}">Accueil</a></li>
        <li><a href="{{ path('ml_platform_add') }}">Ajouter une annonce</a></li>
      </ul>

      <h4>Dernières annonces</h4>
      {{ render(controller("MLPlatformBundle:Advert:menu", {'limit': 3})) }}

    </div>


    <div id="content" class="col-md-8">
      {% block body %}
      {% endblock %}
    </div>

    <div id="content" class="col-md-2">
      <div class="pub-cocon"><div class="row"></div></div>
    </div>

  </div>
</div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>


</body>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script>


    $(function() {
      $(function() {
        $('.dropdown').hover(function() {
         $(this).children('ul').stop(true, false, true).fadeToggle(400);
        });
      });
    });
    </script>

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--Google Map Script-->
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48, lng: 2},
          zoom: 2,
          mapTypeId: 'satellite'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXuwsvP_5JVA6fogMEKKPxB4NOf3ZaFOk&callback=initMap"
    async defer></script>

{% endblock %}
</html>